html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
/* nav */
.nav {
  display: flex;
  max-width: 1206px;
  justify-content: space-between;
  align-items: center;
  padding: 55px;
  margin: 0 auto;
  box-sizing: border-box;
}
.nav-logo {
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  font-size: 17px;
  width: 600px;
  justify-content: space-evenly;
}
.nav-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav .btn {
  width: 70px;
}
@media screen and (max-width: 1024px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-list li {
    border-bottom: 1px solid black;
    padding: 1rem 0;
  }
  .nav-content {
    flex-direction: column;
  }
}
/* button */
.btn {
  border: 0;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
.btn-small {
  height: 30px;
}
.btn-primary {
  background-color: #675afe;
}
.btn-accent {
  background-color: #FCA74D;
}
.btn-big {
  height: 45px;
}
.bar {
  width: 100%
}
/* section */
.section {
  display: flex;
  padding: 0 55px;
  max-width: 1206px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
  gap: 60px;
}
.section-content {
  max-width: 490px;
  margin-top: 70px;
}
.section-heading {
  font-size: 50px;
  font-weight: 700;
  color: #252533;
  line-height: 58.59px;
  letter-spacing: 2px;
}
.section-para {
  color: #7c7a8f;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 36px;
}
.section .btn {
  width: 120px;
  margin-right: 60px;
}
.btn-group {
  display: flex;
  align-items: center;
}
.sec-img {
  margin-top: 20px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section-heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  .section {
    flex-direction: column;
    gap: 0;
  }
  .section-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sec-img {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .section .btn {
    margin-right: 20px;
    font-size: 10px;
    height: 40px;
    margin-right: 0;
  }
  .btn-group {
    flex-direction: column;
    gap: 20px;
  }
}
/* block */
.article {
  display: flex;
  padding: 55px;
  max-width: 1206px;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 18px;
}
.article-content {
  max-width: 311px;
}
.article .btn-big {
  width: 170px;
}
.article .btn-small {
  height: 35px;
  width: 100px;
}
.article-h1 {
  color: #fcb976;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.article-h2 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
}
.article-para {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #7c7a8f;
  margin: 25px 0;
}
.article-img {
  width: 100%;
}
.card-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.article-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 40%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;
  border-radius: 15px;
}
.card-heading {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.card-para {
  font-size: 20px;
  margin: 0;
}
.icon {
  color: #fcb976;
}
.icon-wrapper {
  background-color: #f5f5ff;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.content-container {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 1050px) {
  .article {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .card-group {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .article-card {  
    height: 300px;  
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
  }
  .card-group {
    flex-direction: column;
  }
  .article-img {
  width: 100%;
}
}
/* sec */
.sec {
  display: flex;
  margin: 4rem auto;
  max-width: 1206px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 55px;
}

.sec .btn-big {
  width: 170px
}
.sec .article-content {
  max-width: 420px;
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .sec {
    flex-direction: column;
    gap: 30px;
  }
}
/* box */
.box {
  background-color: #F5F5FF;
  width: 1088px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}
.box h1 {
  margin: 0;
}
.box h2 {
  margin-top: 10px;
}
.box:hover {
  border: 1px solid blue;
}
.header {
  margin: 0 auto;
  max-width: 550px;
  padding: 30px 0;
}
.box-para {
  font-size: 17px;
  color: #7c7a8f;
  max-width: 400px;
  margin: 0 auto;
}
.bigicon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  margin-top: 6rem;
  padding: 2rem;
}


.bigicon-h3 {
  margin-top: 4rem;
  color: blue;
  font-size: 2rem;
}
.bigicon-para {
  color: blue;
  font-size: 1.5rem;
}
.bigicon {
  display: flex;
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 70px;
  right: 20px
}
.arrow-container p {
  color: blue;
  font-size: 6rem;
  padding: 0 10px;
  position: relative;
  bottom: 19px
}
.arrow-container svg {
  fill: blue;
}
.bigicon-group {
  display: flex;
}
@media screen and (max-width: 768px) {
  .bigicon-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 100%;
  }
}
/* grid */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* callout */
.callout {
  padding: 10rem;
  border-radius: 15px;
  background-color: #6D61FE;
  color: white;
  max-width: 1031px;
  margin: 0 auto;
}
.callout h2 {
  font-size: 3rem;
  margin: 2rem 0;
  letter-spacing: 1px;
}
.callout p {
  font-size: 1.5rem;
  margin: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
  width: 120px;
  margin: 0 2rem;
}
.callout-content {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .callout-content {
    text-align: center;
    margin-bottom: 3rem;
  }
}
/* footer */
.footer {
  display: flex;
  max-width: 1031px;
  margin: 0 auto;
}